@import 'tailwindcss';

@theme{
  --color-midnight: #121063;
  
  /* Adds a 480px breakpoint */
  --breakpoint-xs: 30rem; 

}

/* Emerald green
#012b09
Sage
#94bb86
Off white
#ffffe9
White
#ffffff
Champagne
#f7ebe2
Gold
#d4af37 */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* background-color: #ffffe9;  #dbc2a6 */
  background-color:white;
  @apply text-gray-500 ;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  scroll-behavior: smooth;
}

::selection {
  @apply bg-emerald-600 text-white         
}

.font-primary{
  font-family:'Rustic Printed, sans-serif';
}

a:hover {
  filter: brightness(150%);
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  width: 100%;
}


/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */
h1,h2,h3,h4,h5,h6{
  color: black;
}
/* h2{
  margin-bottom: 4px;
} */

/* h1 {
  font-size: 3.2em; 
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 0.6em;
}

h2 {
  font-size: 2.4em;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.8em;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 0.4em;
}

h4 {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 0.3em;
}

h5 {
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0.2em;
}

h6 {
  font-size: 1em;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 0.1em;
} */


button:not(.unstyled-btn){
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 8px 20px;
  font-size: 1em;
  /* font-weight: 500; */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  outline: none;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  @apply text-sm sm:text-base;
}
button:not(:disabled):not(.no-hover-effect):hover{
  filter: brightness(80%);
  @apply  transform -translate-y-1;
}
button:disabled{
  cursor: not-allowed;
}
button:not(:disabled):focus-visible {
  /* focus-visible only shows when using keyboard navigation */
  @apply ring-3 ring-emerald-300 ring-offset-3 outline-none;
}
/* Pressed down effect */
button:not(:disabled):active {
  @apply transform scale-90;
}
.btn-primary {
  @apply bg-emerald-800 text-white;
}
.btn-secondary{
  @apply bg-lime-400 text-white;
}
.btn-primary-outline{
  @apply bg-white text-emerald-800 border border-emerald-800;
}
.btn-secondary-outline{
  @apply bg-white text-lime-400 border border-lime-400;
}
.no-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
 }


/* @media (prefers-color-scheme: light) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */


/* components */

/* Loader */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* height: 100%; */
  background-color: transparent;
}
.spinner {
  border: 5px solid #242424;
  border-top: 5px solid #006045;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: auto;
  align-self: center;
}
/* Animation keyframes */
@keyframes spin {
  to {transform: rotate(360deg);}
}


/* Product Card */
.card{

}


/* Footer */
Footer h2{
  color: white;
}

footer .slide-top{animation:slide-top linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 15%;
}
@keyframes slide-top{from {transform:translateY(50%);opacity: 0;}}


footer .slide-right {
  animation: slide-right linear both;
  animation-timeline: view();
  animation-range: entry 50% entry 200%;
}

@keyframes slide-right {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
}



/* Pages */

/* Dashboard */

.aside{
  background-color: white;
  /* overflow: hidden;
  white-space: nowrap;   */ /* prevent text from wrapping to the next line */
}
.nav-link{
  display: flex;
  align-items: center;
  font-weight:500;
  /* padding: 8px 12px; */
  margin-bottom: 8px;
  gap: 8px;
  color: black;
  @apply px-2 sm:px-3 py-2;
}
.nav-link.is-active{
  @apply text-white bg-emerald-900;
  border-radius: 12px;
}
.nav-link:hover{
  @apply text-white bg-emerald-900;
  border-radius: 12px;
}
.nav-text{
  transition: all 0.3 ease-in;
  overflow: hidden;
  white-space: nowrap;
}
aside.expanded .nav-text{
  opacity: 1;
  /* width: auto; */
}
aside.collapsed .nav-text{
  opacity: 0;
  width: 0;
}
/* for aside hide & visible */
aside .toggle-btn {
  transition: all 0.3s ease-in-out;
  position: absolute;
  cursor: pointer;
  background-color: white;
  padding: 4px;
  border-radius: 6px;
  border:1px solid black;
  right: 20px; 
}
aside.collapsed .toggle-btn {
  right: -12px; 
  transform: rotate(180deg); 
}


/* for dark & light mode */
.toggle-container input {
  display: none; /* Hide the default checkbox */
}
.slider {
  width: 36px;
  height: 20px;
  background-color:#006045;
  border-radius: 34px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: background-color 1s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.4s;
}
/* When the checkbox is checked, move the handle */
input:checked + .slider:before {
  transform: translateX(16px); /* Moves it to the right */
}

.section-title{
  margin-bottom: 4px;
  font-weight: 500;
  /* font-size: 18px; */
  @apply text-emerald-800 text-base sm:text-lg;
}
.form-section{
  display: flex;
  flex-direction: column;
  /* padding: 16px; */
  /* margin-bottom: 16px; */
  background-color: white;
  border:1px solid #006045;
  border-radius: 8px;
  @apply p-2 sm:p-4 ;
}
.form-section label{
  color: black;
}
input,textarea,select,option{
  font-size: 14px;
  /* background: #f3f4f6 ; */
  @apply bg-gray-100 ;
  padding: 8px 16px;
  border-radius: 8px;
  /* border: 1px solid #99a1af; */
}
input:disabled,textarea:disabled,select:disabled,option:disabled{
  cursor: not-allowed;
}
input:focus,textarea:focus,select:focus{
  outline: none;
  box-shadow: 0 0 8px #006045;
  transition: box-shadow 0.15s ease-in-out;
  /* border:1px solid #006045; */
}
/* input::placeholder{
  color:rgba(177, 177, 238, 0.629) ;
} */
input:checked{
@apply accent-emerald-800!;
}
input[type="checkbox"] {
  accent-color: #006045; 
}

.image-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border:1px solid #99a1af ;
  border-radius: 8px;
  width: 176px;aspect-ratio: 1/1;
  object-fit: cover;
}


.progress-container {
  position: relative;
  width: 100%;
  /* max-width: 600px; Adjust to fit your layout */
  /* margin: 40px 0px;background: red; */
  /* height: 24px; */
}

/* Background track (gray line) */
.progress-track {
  width: 100%;
}

/* Active fill line (dark line) */
.progress-fill {
  transition: width 0.4s ease-in-out;
}

/* Flex wrapper for the circles */
/* .progress-steps {
  position: relative; 
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 3;
} */

/* Base style for individual step nodes */
.step-node {
  width: 24px;
  height: 24px;
  /* background-color: #ffffff; */
  /* border: 2px solid #e0e0e0; */
  /* border-radius: 50%; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* content: center;
  transition: all 0.3s ease; */
}

/* Active style with dark background and checkmark */
/* .step-node.active {
  background-color: #111111;
  border-color: #111111;
} */

/* .step-node.active::after {
  content: "✓";
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
} */


/* Home */
.lock-scroll {
  animation: unlock 1.3s steps(1, end) forwards;
}
@keyframes unlock {
  0%, 99% { overflow: hidden; }
  100% { overflow: visible; }
}

.animate-slide-out {
  animation: slide-out-top 1.3s cubic-bezier(.55,.085,.68,.53) both;
}
.panel-1 { animation-delay: 0s; }
.panel-2 { animation-delay: 0.1s; }
.panel-3 { animation-delay: 0.2s; }
.panel-4 { animation-delay: 0.3s; }
.animate-fade-out {
  animation: fade-out 1.3s ease-in-out forwards;
}
@keyframes slide-out-top {
  0% { transform: translateY(0); }
  70% { transform: translateY(0); }
  100% { transform: translateY(-100vh); }
}
@keyframes fade-out {
  0%, 70% { opacity: 1; }
  100% { opacity: 0; }
}



.hero{
  width: 100%;
  height: 100vh;
  /* background: linear-gradient( to bottom, #a4f4cf  -0%, #FFFDD0 90% );  */
  background: linear-gradient( to bottom, #f5f2eb 10%, #94bb86 50% ); 
  /* background: linear-gradient( to bottom, #94bb86 50%, #f5f2eb 90% );  */
  /* background-color: #FFFDD0; */
  /* #9ae600 #f8df81*/
  overflow: hidden;
}
/* .hero::before {
  content: "";
  position: absolute;
  inset: 0;

  background:
    repeating-conic-gradient(
      from 180deg at 50% 60%,
      rgba(255,255,255,0.35) 0deg,
      rgba(255,255,255,0.35) 0.5deg,
      transparent 0deg,
      transparent 20deg
    );

  mask-image: radial-gradient(
    circle at 50% 40%,
    black 0%,
    transparent 50%
  );
} */

.lines {
  /* position: absolute;
  inset: 0; */
   /* fade the lines */
  mask-image: radial-gradient(
    circle at 50% 50%,
    black 0%,
    transparent 60%
  );
}
.lines line {
  stroke: white;
  stroke-width: 0.1;
}

.slide-bottom{transform:translateY(-100%);animation:slide-bottom .5s cubic-bezier(.25,.46,.45,.94) both 2.5s;}
@keyframes slide-bottom{to{transform:translateY(0)}}
/* classname="animate-[slide-bottom_0.5s_ease-in-out_forwards]" */

.slide-top{animation:slide-top 1s cubic-bezier(.25,.46,.45,.94) both 3s;}
@keyframes slide-top{from {transform:translateY(50%);opacity: 0;}}


.letter {
  display: inline-block;
  transform: translateY(100%);
  animation: slide-up 0.6s cubic-bezier(0.65, 0, 0.35, 1) forwards;
  animation-delay: calc(2s + (var(--i) * 0.05s));

}
@keyframes slide-up {to {transform: translateY(0);}}


.image-wrapper {
  /* background-color: red; */
  position: relative;
  height: 1000px;
  /* aspect-ratio: 4 / 5; */
  aspect-ratio: 3/4;
}
.slice{
  position: absolute;
  width: 100%;
  height: 0;
  background-image: url(assets/hero-img-2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center calc(var(--i) * -125px);

  top: calc(var(--i) * (100% / 8));
  transform: translateY(-30px);
  animation:reveal .7s ease 1.5s forwards,
      slide-down 0.5s ease 2.5s forwards;
}
@keyframes reveal { to {height: calc(100% / 8);} }
@keyframes slide-down{ to {transform:translateY(150px)} }

/* @media screen and (height >= 1024px; width >= 768px) {
  .image-wrapper{
    height: 1000px;
  }
  .slice {
      background-position: center calc(var(--i) * -125px);
  }
} */
@media screen and (max-width: 768px) {
  .image-wrapper{
    /* background-color: yellow; */
    height: 800px;
  }
  .slice {
      background-position: center calc(var(--i) * -100px);
  }
}
@media screen and (max-width: 640px) {
  .image-wrapper{
    /* background-color: transparent; */
    height: 760px;
  }
  .slice {
      transform: translateY(60px);
      background-position: center calc(var(--i) * -95px);
  }
  @keyframes slide-down {
    to {transform:translateY(160px)}
  }
}

.back-to-top {
  animation: fadeIn linear both;
  animation-timeline: scroll(root); /* Tracks the main page scroll */
  animation-range: 400px 600px;       /* Starts fading at 400px, fully visible by 600px */
}
@keyframes fadeIn {
  from { opacity: 0; visibility: hidden; transform: translateY(20px); }
  to { opacity: 1; visibility: visible; transform: translateY(0); }
}



/* Login */

.bg-login{
  background-image: url(src/assets/WhatsApp\ Image\ 2026-02-08\ at\ 13.06.05.jpeg);
  /* background-attachment: fixed; */
  background-position: center;
  background-size: cover;
}

